footer, header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.noticias, .cardCircuitos {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #51768C;
}

header {
  background-color: #8C0335;
  padding: 10px;
}
header .logo {
  width: 9.375rem;
  height: 6.25rem;
  overflow: hidden;
}
header .logo img {
  width: 100%;
  padding: 10px 0.625rem;
}
header #menuToggle {
  display: none;
}
header #menuToggle:checked + .menu-icon + nav {
  display: block;
}
header .menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}
header nav .navBar {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}
header nav .navBar li {
  text-align: center;
  margin: 0 10px;
}
header nav .navBar li a {
  text-decoration: none;
  color: white;
}
header nav .navBar li a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }
  header .menu-icon {
    display: block;
    position: absolute;
    top: 70px;
    right: 50px;
  }
  header nav {
    display: none;
  }
  header nav .navBar {
    flex-direction: column;
    align-items: center;
  }
  header nav .navBar li {
    margin: 5px 0;
  }
  header .logo {
    width: auto;
    height: auto;
    text-align: center;
  }
  header .logo img {
    padding: 5px 0.3125rem;
  }
}

footer {
  background-color: #8C0335;
  padding: 20px;
}
footer div:first-child {
  width: 9.375rem;
  height: 6.25rem;
  overflow: hidden;
}
footer div:first-child img {
  width: 100%;
  padding: 10px 0.625rem;
}
footer div.rrss {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
footer div.rrss a img {
  width: 2rem;
  transition: transform 0.3s ease;
}
footer div.rrss a img:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  footer div:first-child {
    margin-bottom: 10px;
  }
  footer div.rrss {
    gap: 10px;
  }
}

.carrusel div {
  position: relative;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}
.carrusel div img {
  width: 100%;
  height: auto;
  display: block;
}
.carrusel div h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 3.125rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 1;
}
@media (max-width: 768px) {
  .carrusel div div {
    max-height: 300px;
  }
  .carrusel div div h1 {
    font-size: 1.5em;
  }
}

.titulos {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3.125rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 1;
  text-align: center;
}

.cardCircuitos {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: start;
  background-color: #64858C;
  border-radius: 8px;
  overflow: hidden;
}
.cardCircuitos img {
  width: 100%;
  border-radius: 8px 0 0 8px;
}
.cardCircuitos .str_circuitos {
  padding: 20px;
  color: white;
}
.cardCircuitos .str_circuitos h2 {
  margin: 0 0 10px 0;
}
.cardCircuitos .str_circuitos p {
  margin: 5px 0;
}
@media (max-width: 768px) {
  .cardCircuitos {
    grid-template-columns: 1fr;
  }
  .cardCircuitos img {
    border-radius: 8px 8px 0 0;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2.5rem;
}
@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}

.cardCircuitos {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: start;
  background-color: #64858C;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.cardCircuitos img {
  width: 100%;
  border-radius: 8px 0 0 8px;
}
.cardCircuitos .str_circuitos {
  padding: 20px;
  color: white;
}
.cardCircuitos .str_circuitos h2 {
  margin: 0 0 10px 0;
}
.cardCircuitos .str_circuitos p {
  margin: 5px 0;
}
@media (max-width: 768px) {
  .cardCircuitos {
    grid-template-columns: 1fr;
  }
  .cardCircuitos img {
    border-radius: 8px 8px 0 0;
  }
}

.secEscuderias {
  padding: 40px;
  background-color: #1F1F1F;
  color: white;
  font-family: "Arial", sans-serif;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.secEscuderias h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}
.secEscuderias div {
  display: flex;
  gap: 20px;
}
.secEscuderias div img {
  max-width: 60%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.secEscuderias div div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.secEscuderias div div p {
  margin: 5px 0;
}
.secEscuderias div div img {
  align-self: center;
  max-width: 50%;
  margin-top: auto;
}
@media (max-width: 768px) {
  .secEscuderias div {
    flex-direction: column;
    align-items: center;
  }
  .secEscuderias div img {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.noticias {
  padding: 0 3.125rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: #51768C;
  border-radius: 8px;
  margin: 20px 0;
  overflow: hidden;
  color: white;
}
.noticias > div:first-child {
  flex: 1;
  max-width: 40%;
  margin-right: 20px;
}
.noticias > div:first-child img {
  max-width: 100%;
  display: block;
}
.noticias > div:last-child {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.noticias > div:last-child h2 {
  margin: 0 0 10px 0;
}
.noticias > div:last-child p {
  margin: 10px 0;
}
.noticias > div:last-child iframe {
  max-width: 100%;
  display: block;
  margin-top: 20px;
  align-self: center;
}
@media (max-width: 768px) {
  .noticias {
    padding: 0 1.5625rem;
    flex-direction: column;
  }
  .noticias > div:first-child {
    max-width: 100%;
    margin-right: 0;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.pilotos {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  background-color: #FFD500;
  border-radius: 10px;
  overflow: hidden;
}
.pilotos img {
  width: 100%;
  border-radius: 10px 0 0 10px;
}
.pilotos div {
  padding: 20px;
}
.pilotos div h2 {
  font-family: "Arial", sans-serif;
  color: #1F1F1F;
  font-size: 24px;
  margin-bottom: 10px;
}
.pilotos div p {
  font-family: "Arial", sans-serif;
  color: #1F1F1F;
  font-size: 16px;
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .pilotos {
    grid-template-columns: 1fr;
  }
  .pilotos img {
    border-radius: 10px 10px 0 0;
  }
}

/*# sourceMappingURL=style.css.map */
